.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.intro-block {
    background-image: linear-gradient(0deg, rgba(14, 31, 14, 0.384), rgba(85, 17, 17, 0.445)), url("product.jpg");
    background-color: #1F2937;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #F9FAF8;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -10%;
  width: 300px;
  height: 540px;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  border-radius: 5px;
}

.product-device-2 {
  top: -5%;
  right: auto;
  bottom: 0;
  left: -10%;
}

a:link {
  text-decoration:none;
}

a:visited {
  background-color: gray;
}

a:hover {
  background-color: lightseagreen;
  color: white;
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
